<!DOCTYPE html>
<html>
<head>

  <title>FoodShala</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style type="text/css">
  .login-form {
    width: 340px;
      margin: 50px auto;
  }
    .login-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">FoodShala</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('userlogin') }}">UserLogin</a></li>
      <li class="active"><a href="{{ url_for('hotellogin') }}">Restaurant Login</a></li>
    </ul>
  </div>
</nav>


<div class="login-form">
    <form action="/ressignup" method="post">
        <h2 class="text-center">Restaurant Signup</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name ="uname" required="required">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Restaurant Name" name ="restaurantname" required="required">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Restaurant Address" name ="address" required="required">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="MobileNumber" name ="mobile" required="required">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name ="password" required="required">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Signup</button>
        </div>
        <div class="clearfix">
        </div>        
    </form>
    <p class="text-center"><a href="{{ url_for('hotellogin') }}">Already have an account? LogIn</a></p>
</div>
</body>
</html>